@media only screen and (max-width: 321px)
    #toggle:checked + menu
        background-color $background-menu
        display block
        overflow hidden
        position absolute
        left -40px
        top 0
        z-index 1
    .Header
        &__principal
            padding 15px 0 0 0 
            display grid
            grid-template-columns 8% 70% 22%
            grid-gap 5px
            align-items center
            max-width 100%
            label
                font-size $font-size-burguer
            &__logo
                img 
                    height 35px
            &__shopping_cart
                img 
                    height 35px
        &__menu 
            display none
            width 100%
            text-align center
            border-bottom 1px solid #c2bebe
            height 90%
            margin 60px 0 0 0
        &__menu li 
            border-bottom 1px solid grey
            padding 20px


        

