@media only screen and (max-width: 321px)
    #toggle:checked + menu
        background-color $background-menu
        display block
        overflow hidden
        position fixed
        left -40px
        top 0
        z-index 3
    .Header
        width 100%
        position fixed;
        background $background-color
        z-index 1
        margin: 0px;
        padding: 0px;
        top: 0;
        &__principal
            padding 15px 0 0 0 
            display grid
            grid-template-columns 8% 70% 22%
            grid-gap 5px
            align-items center
            max-width 100%
            label
                font-size $font-size-burguer
            &__logo
                img 
                    height 35px
            &__shopping_cart
                img 
                    height 35px
        &__menu 
            display none
            width 100%
            text-align center
            border-bottom 1px solid #c2bebe
            height 90%
            margin 60px 0 0 0
        &__menu li 
            border-bottom 1px solid grey
            padding 20px
        &__search
            margin 10px 0 10px 0
            height 30px
            display flex
            img 
                width 10%
                height 30px
                background $background-search
                border-radius 5px 0 0 5px
            input 
                width 80%
                height 30px
                border-radius 0 5px 5px 0
                outline none
                border none
                background $background-search
                font-size $font-size-search
                padding 0 8px 0 8px





        

