@media only screen and (max-width: 321px) {
  #toggle:checked + menu {
    background-color: #ccc;
    display: block;
    overflow: hidden;
    position: absolute;
    left: -40px;
    top: 0;
    z-index: 1;
  }
  .Header__principal {
    padding: 15px 0 0 0;
    display: grid;
    grid-template-columns: 8% 70% 22%;
    grid-gap: 5px;
    align-items: center;
    max-width: 100%;
  }
  .Header__principal label {
    font-size: 25px;
  }
  .Header__principal__logo img {
    height: 35px;
  }
  .Header__principal__shopping_cart img {
    height: 35px;
  }
  .Header__menu {
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #c2bebe;
    height: 90%;
    margin: 60px 0 0 0;
  }
  .Header__menu li {
    border-bottom: 1px solid #808080;
    padding: 20px;
  }
}
* {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: 'Lato', 'Oswald', 'sans-serif';
  font-size: 13px;
  background-color: #fff;
}
#toggle {
  display: none;
}
