@media only screen and (max-width: 321px)
    .Main
        justify-content center
        margin 70px 0 0 0
        &__Promotions
            width $width-gallery
            height $height-gallery
            position relative
            top:0px;
            margin:auto;
            img 
                width $width-gallery
                height $height-gallery
                object-fit contain
                position absolute
                top 0
                -webkit-animation-name fade
                -webkit-animation-iteration-count infinite
                -webkit-animation-duration 6s
                animation-name fade
                animation-iteration-count infinite
                animation-duration 6s

        &__Categories
            display flex
            flex-direction column
            justify-content center
            align-items center
            padding 10px 0 0 0
            img 
                width $width-gallery
                height $height-gallery
        &__Category
            display flex
            flex-direction column
            justify-content center
            align-items center
            padding 30px 0 0 0
@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}


#f2 {
    -webkit-animation-delay: -4s;
}
#f3 {
    -webkit-animation-delay: -2s;
}