$font-size = 13px
$font-family = 'Lato','Oswald','sans-serif'
$font-size-burguer = 25px
$background-color = #FFFFFF
$background-menu = #CCCCCC
$background-search = #EEEEEE
$font-size-search = 15px
$text-color = #000000
