$font-size = 13px
$font-family = 'Lato','Oswald','sans-serif'
$font-size-burguer = 25px
$background-color = #FFFFFF
$background-menu = #EEEEEE
$background-search = #EEEEEE
$font-size-search = 15px
$text-color = #000000
$width-gallery = 280px
$height-gallery = 180px
$button-color = #D1D634
$button-color-secondary = #DFE438
